html,
body{
	height: 100%;
	margin: 0;
	font-family: 'Poppins';
	font-size: 16px;
}

body{
	background-image: url('../images/bg-intro-desktop.png');
	background-color: hsl(0, 100%, 74%);
}

.whitetext {
	color: white;
}

section{
	max-width: 1200px;
	margin: auto;
	margin-top: 100px;
	height: 580px;
}

section .column {
	width: 49%;
	display: inline-block;
	float: left;
	height: 100%;
}

section .column #form-column {
	max-width: 480px;
}

section .column #description {
	max-width: 500px;
	height: 200px;
	margin-top: 190px;
}
section .column #description span{	
	font-weight: 700;
	font-size: 42px;
	line-height: 40px;	
	color: white;
}

section .column #description p{
	line-height: 22px;
	display: block;
	margin-top: 25px;
	color: hsl(0, 2%, 88%);
}

section .column #form-column .corners{
	border-radius: 7px;
}

section .column #trial-offer {
	background-color: hsl(248, 32%, 49%);
	padding: 15px 18px;
	text-align: center;
	font-size: 14px;
	margin-bottom: 25px;
	box-shadow: 1px 8px 1px rgb(83, 80, 98, 0.5) ;
}

section .column #trial-offer p {
	margin: 0;
}
section .column form{
	background-color: white;
	max-width: 490px;
	height: 490px;	
	box-shadow: 1px 8px 1px rgb(83, 80, 98, 0.5) ;
}

section .column #form-controls {
	height: 330px;
	max-width: 430px;
	margin: auto;
	padding-top: 40px;
}

section .column form #form-controls input[type=text] {
	height: 45px;
	width: 100%;		
	display: block;
	font-weight: 700;	
	padding-left: 25px;
	box-sizing:border-box;
}

section .column form #form-controls input::placeholder{
	font-weight: 700;	
}

section .column form #form-controls input[type=text]:focus {
	outline-color: hsl(248, 25%, 70%);
}

section .column #form-controls input[type=submit] {
	background-color: hsl(154, 59%, 51%);
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-weight: 600;
	box-shadow: 1px 4px 2px hsl(154, 59%, 35%); 
	cursor: pointer;
}

/* error icon */
section .column #form-controls img {
	display: block;
	bottom: 35px;	
	float: right;
	padding-right: 25px;
	margin-top: -35px;
	clear: both;
	bottom: 35px;
}

/* error message */
section .column #form-controls p {
	position: relative;
	float: right;
	color: hsl(0, 100%, 74%);
	font-size: 10px;
	font-weight: 600;
	bottom: 10px;
}

section .column form span {
	font-size: 9px;
	padding: 10px 60px;
	display: block;
	margin-top: 5px;
	color: hsl(246, 25%, 77%);
}

section .column form span strong {
	color: hsl(0, 100%, 74%);
}
/* styling to be used with javascript */
/* border color for input type text. cannot have this directly 
	for input control, due to javascript submit, cannot override css
	that is	right in the control */
.input-border {
	border: 1px solid hsl(247, 25%, 80%);
	color: hsl(249, 10%, 26%) ;
}

/*input text control on error */
.error-border {
	border: 2px solid hsl(0, 100%, 74%);
	color: hsl(0, 100%, 74%);
}

/*input text control on success */
.success {
	border: 2px solid hsl(154, 59%, 51%);
	color: hsl(154, 59%, 51%);
}

.icon {
	visibility: hidden;
}
.error-message {
	visibility: hidden;
}


